{% extends 'base.html.twig' %}

{% block title %}New Praticien{% endblock %}

{% block body %}
    <h1>Create new Praticien</h1>

    {{ include('praticien/_form.html.twig') }}

    <a href="{{ path('praticien_index') }}">back to list</a>
{% endblock %}
